<html lang="en">
<body class="content" style="padding:20px 60px">
  <div class="header">
    <div class="container image-container w-50" >
        <span class="image-wrapper">
            <img class= "penguin-image" src="assets/images/penguin.png.png" alt="Penguin Image">
        </span>
    </div>
    <div class="container text-end w-50">
        <span class="text">Home</span>
        <span class="text">Product</span>
        <span class="text">About Us</span>
        <span class="text">Contact</span>
    </div>
</div>
<div class="header">
    <div class="container image-container w-50">
      <span class="image-wrapper">
          <img class= "header-image" src="assets/images/header.png.png" alt="Penguin Image">
      </span>
  </div>
  <div class="container image-container w-50">
    <span class="image-wrapper">
        <img class= "header1-image" src="assets/images/header1.png.png" alt="Penguin Image">
    </span>
  </div>
</div>

<div class="heading">CASUAL SHOES</div>

<div class="casual-shoes">
  <div class="shoe-card" *ngFor="let image of shoes">
    <img src="assets/images/shoe.png.png" alt="Nike Shoe">
    <h3 class="text-start">{{image.header}}</h3>
    <p>{{image.text}}</p>
    <div class="price">{{image.price}} <span> <img src="assets/images/buynow.png.png"></span></div>
  </div>
</div>

<div class="heading">FORMAL SHOES</div>

<div class="casual-shoes">
  <div class="shoe-card" *ngFor="let image of shoes">
    <img src="assets/images/black-shoe.png.png" alt="Nike Shoe">
    <h3 class="text-start">{{image.header}}</h3>
    <p>{{image.text}}</p>
    <div class="price">{{image.price}} <span> <button class="buy-now"><img src="assets/images/shopping-cart.png.png"> BUY NOW</button></span></div>
   
  </div>

</div>

<div class="container image-container w-100">
  <span class="image-wrapper">
      <img class= "footer" src="assets/images/footer.png" alt="Penguin Image">
  </span>
</div>


</body>
</html>